:root {
  /* For error messages */
  --error-background-color: #d32f2f;
  --error-color: #fff;
}

.dark-mode-variables {
  --error-background-color: #212121;
  --error-color: #ff5252;
}

.toast {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: -50px; /* Initially hidden */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--error-background-color);
  color: var(--error-color);
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 200;
  opacity: 0;
  animation: slideDown 0.5s forwards, fadeOut 0.5s forwards 4.5s;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    top: 20px;
    opacity: 1;
  }
  to {
    top: -50px;
    opacity: 0;
  }
}
